<!--FORMULARION DE LA INSERCION DE UN PRODUCTO -->
<!--POR CIERTO, NO SE CARGAN BIEN LOS ESTILOS DE MATERIAL POR AUTOMATICO, ASI QUE TUVE QUE INPROVISAR CON EL CSS-->
<!--INCLUSO EN LA CONSOLA DEL NAVEGADOR APARECE REPETIDAS VECES QUE LOS ESTILOS TIENEN UN ERROR, CHEQUEN TAMBIEN ESO-->
<h2>Insert Product</h2>
<!--SE DECLARA EL FORMULARIO-->
<form (ngSubmit)="saveProduct()" #productForm="ngForm" enctype="multipart/form-data">
  <mat-form-field>
      <!--SE DECLARAN LOS CAMPOS DEL FORMULARIO-->
      <!--SE DECLARA EL CAMPO DEL TITULO-->    
    <input matInput name="title" placeholder="Title" [(ngModel)]="product.title" required>
  </mat-form-field>
  <!--SE DECLARA EL CAMPO DE LA DESCRIPCION-->
  <mat-form-field>
    <textarea matInput name="description" placeholder="Description" [(ngModel)]="product.description" required></textarea>
  </mat-form-field>
  <!--SE DECLARA EL CAMPO DEL PRECIO-->
  <mat-form-field>
    <input matInput name="price" type="number" placeholder="Price" [(ngModel)]="product.price" required>
  </mat-form-field>
  <!--SE DECLARA EL CAMPO DE LA CATEGORIA-->
  <mat-form-field>
    <input matInput name="category" placeholder="Category" [(ngModel)]="product.category" required>
  </mat-form-field>
  <!--SE DECLARA EL CAMPO DE LA IMAGEN-->
  <mat-form-field>
    <input matInput type="file" name="image" (change)="handleFileInput($event)" required>
  </mat-form-field>
  <!--SE DECLARA EL BOTON DE GUARDAR-->
  <button mat-raised-button color="primary" type="submit">Save</button>
</form>
